<section class="search-container">
    <h2>Search Recipes</h2>
    <form method="GET">
        <input type="text" id="search" name="search" placeholder="Search for recipes..." value="{{searchQuery}}">
        <button type="submit">Search</button>
    </form>
    <div class="search-results">
        {{#each recipes}}
        <article class="recipe">
            <img src="{{this.image}}" alt="{{this.title}}">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <a href="/recipes/details/{{this._id}}">Read More</a>
        </article>
        {{else}}
        <p class="no-match">There are no recipes found yet!</p>
        {{/each}}
    </div>
</section>