<div id="page">
    <div id="header">
        <img id="logo" src="/images/naroozhka.jpg" style="width:300px;" />
    </div>
    <h2 style="font-size:25px;">Архив номеров журнала "Наружка"</h2>
    <div style="margin-bottom:30px;">
        <a href="/subscription/subscription">Оформить подписку</a>
    </div>

    {{#each publication}}
    <div style="width:200px; float:left;">
        <img style="width:150px; height:195px; display:block; margin-left:auto; margin-right:auto;"
            src="{{this.CoverImagePath}}" alt="Наружка, номер {{this.Issue}}" />
        <div style="text-align:center;">
            <p>Наружка № {{this.Issue}}, {{this.Description}}</p>
            <p><a href="{{this.FilePath}}" target="_blank">Скачать №{{this.Issue}}</a></p>
        </div>
    </div>
    {{/each}}
</div>